body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
div{
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 50vh;
    width: 50vh;
    margin: 5px;
    border-radius: 4px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position:absolute;
}
div h1{
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    font-size:2rem;
    text-align: center;
    width: 100%;

}
div p{
   color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 2.5rem;
    position: relative;

}
button{
    width: 350px;
    height: 90px;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 1.4rem;
    outline:none;
    cursor: pointer;
    margin-bottom: 1rem;
    position:relative;
    
}